:root {
  --background-color: rgba(124, 58, 237, 1);
  --background-color-hover: rgba(124, 58, 237, 1);
  --border-color: rgba(124, 58, 237, 1);
  --border-color-hover: rgba(124, 58, 237, 1);
  --background-color-light: #ede9fe;
}

.btn-primary {
  background-color: var(--background-color);
  border-color: var(--border-color);
}

.btn-primary:hover {
  background-color: var(--background-color-hover);
  border-color: var(--border-color-hover);

}

.card {
  border: 0.5px solid gray;
  min-width: 24rem;
}

.kereso input {
  width: 22rem;
}

.showMore,
.showMore:hover {
  background: none;
  border: none;
  color: blueviolet;
  font-size: large;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

#shm h1 {
  text-align: center;
}

#feljebb {
  margin-top: -80px;
  margin-right: -200px;
  margin-left: 150px;
}

#imgbehinmde {
  position: relative;
  left: -7rem;
  top: 150px;
  z-index: 1;
  filter: contrast(10);
}

.comment:nth-child(1) h1 {
  margin-top: 100px;
  min-width: 400px;
}

.card .btn-primary,
.card .btn-primary:hover {
  background: none;
  border: none;
  color: blueviolet;
  font-weight: bold;
  float: right;

}

.card-body {
  display: flex;
  flex-direction: column;
}

div .card .card-img-top {
  min-width: 300px;
  min-height: 240px;

}

button.btn {
  margin-top: auto;
}

.box h1 {
  margin-top: 20rem;
}


.tape {
  background-color: blueviolet;
  box-shadow: inset 0 0 1em .5em hsla(0, 0%, 100%, .1);
  height: 4em;
  position: absolute;
  transform: rotate(-10deg);
  width: 40em;
  -webkit-filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, .3));
  top: 620px;
  left: -100px;
}

.tape:after,
.tape:before {
  background-size: .4em .4em;
  bottom: 0;
  content: '';
  position: absolute;
  top: 0;
  width: .2em;
}

.tape:after {
  background-image: linear-gradient(45deg, transparent 50%, hsla(0, 0%, 100%, .3) 50%),
    linear-gradient(-45deg, transparent 50%, hsla(0, 0%, 100%, .3) 50%);
  background-position: 0 100%;
  left: -.2em;
}

.tape:before {
  background-image: linear-gradient(135deg, transparent 50%, hsla(0, 0%, 100%, .3) 50%),
    linear-gradient(-135deg, transparent 50%, hsla(0, 0%, 100%, .3) 50%);
  background-position: 100% 100%;
  right: -.2em;
}

.tape2 {
  background-color: rgb(237, 234, 255);
  box-shadow: inset 0 0 1em .5em hsla(0, 0%, 100%, .1);
  height: 4em;
  position: absolute;
  transform: rotate(-10deg);
  width: 20em;
  -webkit-filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, .3));
  top: 700px;
  left: -10px;
}

.tape2:after,
.tape2:before {
  background-size: .4em .4em;
  bottom: 0;
  content: '';
  position: absolute;
  top: 0;
  width: .2em;
}

.tape2:after {
  background-image: linear-gradient(45deg, transparent 50%, hsla(0, 0%, 100%, .3) 50%),
    linear-gradient(-45deg, transparent 50%, hsla(0, 0%, 100%, .3) 50%);
  background-position: 0 100%;
  left: -.2em;
}

.tape2:before {
  background-image: linear-gradient(135deg, transparent 50%, hsla(0, 0%, 100%, .3) 50%),
    linear-gradient(-135deg, transparent 50%, hsla(0, 0%, 100%, .3) 50%);
  background-position: 100% 100%;
  right: -.2em;
}

#szovegecske {
  max-width: 34rem;
}

#heroDineease {
  margin-top: 50px;
}

#HeroSection h1 {
  font-weight: bolder;
  max-width: 30rem;
}

/* top 3 éttermet tartalmazó div formázása */
#top3 {

  position: relative;
  width: auto;
  /* Adj megfelelő szélességet a div-nek */
  height: auto;
  /* Adj megfelelő magasságot a div-nek */
  margin-bottom: 5rem;


  /* Az alsó bal sarkon lévő kör */
  &::before {
    z-index: -5000;
    content: '';
    position: absolute;
    width: 240px;
    /* Állítsd be a kör szélességét */
    height: 240px;
    /* Állítsd be a kör magasságát */
    border-radius: 50%;
    /* Kerekített szélek kialakítása */
    background-color: var(--background-color-light);
    /* Válassz egy kör színt */
    bottom: -10;
    left: 0;
  }

  /* A felső jobb sarkon lévő kör */
}

#top4 {
  position: relative;
  width: auto;
  /* Adj megfelelő szélességet a div-nek */
  height: auto;
  /* Adj megfelelő magasságot a div-nek */
}

/* véleményeket tartalmazó div formázása */
#testimonials {
  background-color: var(--background-color-light);
  height: 45rem;
}

.fix {}

.gray {
  filter: grayscale(100%);
}

.comment .card h1 {
  margin: -10px 30px;
  margin-top: px;
  position: absolute;

}

.comment .card h1 img {
  max-height: 20px;
  top: 300px;
}

.comment .card {
  border: 0.5px solid gray;
  min-width: 24rem;
  margin: 3rem;
  max-width: 100px;
  max-height: 350px;
}

.comment .card p {
  font-size: large;
  margin: 0.5rem 5rem;
}

#keresosav,
.kereso {
  text-align: center;

}

.kereso input {
  background-color: rgb(238, 238, 238);
  padding: 10px;
  border: 0px;
  border-radius: 5px 5px;
}

input {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;
}

/* remove the input focus blue box, it will be in the wrong place. */
input:focus {
  outline: none;
}

button {
  /* Just a little styling to make it pretty */
  border: 0px;
  background-color: rgb(238, 238, 238);
  margin-left: -12px;
  border-radius: 5px 5px;
  padding: 10px;
}

.Searchico {

  background: url(images/Search\ Icon.png) no-repeat scroll 7px 7px;
  padding-left: 30px;
}

.eznemigazhe {
  height: 10px;
  width: 15px;
}

#ittottkep {
  height: 25px;
  width: 25px;
}

#ittott {
  margin: 10px;
  width: 50px;
  background-color: rgb(216, 196, 234);
}

@media only screen and (max-width: 1200px) {

  .tape,
  .tape2 {
    visibility: hidden;
  }

  #testimonials {
    height: 45rem;
    padding-right: 50px;
  }

  #telocard {
    max-width: fit-content;
    margin: 10px;
  }

  #heroDineease img {
    max-width: fit-content;
  }

  html {
    width: fit-content;
  }
  .card{
    padding-top: 10px;
    padding-bottom: px;
    max-width: fit-content;
    margin-bottom: 10px;
    max-height: 25rem;
  }
  div .card .card-img-top
  {
    min-height: 10rem;
    height: 10px;
  }
  div .card a
  {
    max-width: 10rem;
    margin-left: auto;
  }
  #imgbehinmde
  {
    left: -2px;
  }
  .comment:nth-child(1) h1
  {
    font-weight: 700;
    max-width: 31rem;
  }
  .comment .card p
  {
    min-width: 28rem;
  }
  #Hero_Section
  {
    background: url(images/Hero\ Illustration.png) no-repeat;
  }
}
.row
{
  justify-content: center;
}